html {
  font-size: 14px;
  min-height: 100%;
  background-color: rgba(0, 255, 255, 0.137);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1, h3, p{
  text-align: center;
}

body {
  margin: 10px;
  padding: 10px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  clear: both;
}

section{
  margin-left: 14.7%;
}

li{
  padding: 0.5%;
  border: 1px solid rgba(0, 255, 255, 0.137);
  background-color: white;
}

section div{
  float: left;
  border: 1px;
  border-radius: 5%;
  margin-right: 1%; margin-bottom: 1%;
  max-width: 300px;
  background-color: white;
  text-align: center;
}
section div a input
{
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.137);
  font-size: 15px;
  height: 60px;
  border-color: rgba(0, 0, 255, 0.237);
}
.imagen-disco{
  margin-left: 38.6%;
}